/.stack-work/
TAGS
.DS_Store
*/.DS_Store
/.projectile
/other/mempty.md
dist-newstyle
/stack.yaml.lock
/.hie/
/app/.reanimate/
/app/reanimate-example.mp4
/cabal.project.local*
/.ghc.environment.x86_64-darwin-8.10.4
